 body{
    background-image: url(/IMG_2121-01.jpeg);
}

.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.single-box{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: azure;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .4s;
}

.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 4px;

    background-size: cover;
    background-position: center center;
}

.single-box:nth-child(1) .img-area{
    background-image: url(/Free-Apple-Watch-Series-5-mockup-PSD.jpg);
}
.single-box:nth-child(2) .img-area{
    background-image: url(/macbook-pro-129208.jpg);
}
.single-box:nth-child(3) .img-area{
    background-image: url(/silver-iphone-6-near-macbook-pro-1036841.jpg);
}
.single-box:nth-child(4) .img-area{
    background-image: url(/silver-imac-near-white-ceramic-kettle-205316.jpg);
}
.single-box:nth-child(5) .img-area{
    background-image: url(/Apple_new-iPad-Pro_03182020_LP_hero.jpg.og.jpg);
}
.single-box:nth-child(6) .img-area{
    background-image: url(/closed-apple-watch-beside-eyeglasses-on-table-876466.jpg);
}


.header-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
}
.img-text{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
}
.img-text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.single-box:hover{
    background-color: rgb(148, 9, 9);
    color: #ddd;
    transition: ease-in-out .7s;
    transform: scaleX(1.02);
}